<ion-view view-title="Paiement">
  <ion-content>
    <div class="list">
        <label class="item item-input">
            <span class="input-label">Nom Prénom</span>
            <input type="text">
        </label>
        <label class="item item-input">
            <span class="input-label">N° Carte</span>
            <input type="text">
        </label>
        <label class="item item-input">
            <span class="input-label">Cryptogramme</span>
            <input type="password">
        </label>
    </div>
    <div class="card">
        <div class="item item-text-wrap">
            <h2>TOTAL : </h2>
        </div>
    </div>
    <button class="button button-full button-positive">
        Valider votre achat
    </button>
  </ion-content>
</ion-view>
