<ion-view view-title="Shop">
  <ion-content>
    <div class="list shoppingList">
      <div class="item item-thumbnail-left item-button-right" ng-repeat="product in products">
        <a class="item-thumbnail-left" href="#/tab/product/{{product.id}}"><img ng-src="{{product.imageUrl}}"></a>
        <h2>{{product.name}}</h2>
        <p>{{product.description}}</p>
        <p ng-if="product.inStock == true">En stock</p>
        <p ng-if="product.inStock == false">Rupture</p>
        <h2 class="product_price">{{product.price | currency:'€'}}</h2>
        <button class="button button-positive basketButton" ng-click="addToBasket(product)">
          <i class="icon ion-plus-round"></i>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
